# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
.eggs/
.venv/
venv/
ENV/
.env
pip-wheel-metadata/

# Packaging outputs
.artifacts/
.packages/
*.zip

# OS / IDE
.DS_Store
.idea/
.vscode/
